* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: 800;
}

i {
    font-size: 20px;
    text-align: center;
}


#cart-component,
#profile-component {
    max-width: 360px;
    width: 90%;
}

.categories {
    overflow-wrap: break-word;
}

.books {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(5, 1fr);
    margin: 32px auto;
}

.books .card-title {
    font-size: 16px;
    font-weight: bold;
}

.books h5 {
    opacity: .5;
}

.books h6 {
    font-size: 16px;
    font-weight: bold;
}