* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: 800;
}

i {
    font-size: 20px;
    text-align: center;
}

#cart-component,
#profile-component {
    max-width: 360px;
    width: 90%;
}

.books {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    margin: 32px auto;
}

@media (min-width: 720px) {
    .books {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1024px) {
    .books {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1440px) {
    .books {
        grid-template-columns: repeat(7, 1fr);
    }
}

.cover {
    border-radius: 8px;
    display: block;
    height: 256px;
    margin-bottom: 0;
    object-fit: cover;
    overflow: hidden;
}

.books .card-title {
    font-size: 15px;
    font-weight: bold;
    height: 38px;
    margin-bottom: 4px;
    max-height: 38px;
    overflow: hidden;
}

.books h5 {
    font-size: 12px;
    opacity: .5;
}

.books h6 {
    font-size: 15px;
    font-weight: bold;
}